@model TrashWebsite.Models.CustomerPickup
@{
    ViewBag.Title = "CustomerHome";
}

<h2>CustomerHome</h2>
@{
    ViewBag.Title = "CustomerHome";
}

@using (Html.BeginForm())
{
<h2>CustomerHome</h2>
<div class="jumbotron">
    <h1>Welcome to Getter Garbage Gang</h1>
    <p class="lead">This is where you can change your pick up day, see how much money you owe, and set your vacation time</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Change Pick Up Day</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="EditInfo">Change Day &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Debt Tracker</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Get Debt &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Set Vacation</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Change Vacation &raquo;</a></p>
    </div>
</div>
}
