@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Getter Garbage Gang</h1>
    <p class="lead">REGISTER or LOG IN to let the gang start getting your garbage.</p>
</div>

